*,
::after,
::before {
  box-sizing: border-box;
}

@import url('https://fonts.google.com/specimen/Kumbh+Sans');
html {
  font-size: 100%;
}

:root {
  /* orange - primary color  */
  --orange: hsl(26, 100%, 55%);
  --pale-orange: hsl(25, 100%, 87%);
  /* blue - neutral color */
  --dark-blue: hsl(220, 13%, 13%);
  --dark-grayish-blue: hsl(219, 9%, 45%);
  --grayish-blue: hsl(220, 14%, 75%);
  --light-grayish-blue: hsl(223, 64%, 98%);
  /* other colors */
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --lightbox-black: hsl(0, 0%, 75%);
  /* weight */
  --weight-400: 400;
  --weight-700: 700;

  /* fonts  */
  --headingFont: 'Kumbh Sans', sans-serif;
  --bodyFont: 'Nunito', sans-serif;
  --smallText: 0.7rem;

  /* rest of the vars */
  --backgroundColor: var(--grey-50);
  --textColor: var(--dark-blue);
  --borderRadius: 0.25rem;
  --letterSpacing: 1px;
  --transition: 0.3s ease-in-out all;
  --max-width: 1120px;
  --fixed-width: 600px;
}
body {
  position: relative;
  margin: 0;
  width: 100vw;
  /* height: 100vh; */
  /* background-color: green; */
  overflow-x: hidden;
  font-family: var(--bodyFont);
  color: var(--textColor);
}
.cover-overlay {
  /* content: ''; */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 11;
  background-color: rgba(0, 0, 0, 0.85);
}

a {
  text-decoration: none;
}
ul {
  list-style-type: none;
  padding: 0;
}

.img {
  width: 100%;
  display: block;
  object-fit: cover;
}
/*
=============== 
Navbar
===============
*/

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 2px solid var(--orange); */
}
.nav-center {
  width: 99vw;
  max-width: var(--max-width);
}
.nav-header {
  height: 6rem;
  display: flex;
  align-items: center;
  /* border: 2px solid blue; */
}
.nav-logo img {
  width: 150px;
}
.menu-img {
  margin: 0 1rem 0 0.3rem;
  width: 20px;
}
.right-logo {
  position: relative;
  display: flex;
  align-items: center;
  margin-left: auto;
}
.cartNumber {
  position: absolute;
  top: -10px;
  left: 8%;
  width: 25px;
  border-radius: var(--borderRadius);
  text-align: center;
  color: var(--white);
  background-color: var(--orange);
  padding: 0 0.5rem;
  font-size: var(--smallText);
  visibility: hidden;
}
.right-logo .cart-icon {
  cursor: pointer;
}
.avatar-logo {
  width: 40px;
  margin: 0 1rem;
}
.avatar-logo:hover {
  border: 2px solid var(--orange);
  border-radius: 50%;
}
.cart-box {
  position: fixed;
  /* width: calc(100% - 100px); */
  width: 90%;
  height: 0;
  overflow: hidden;
  /* height: 256px;
  min-height: 256px; */
  max-width: 360px;
  top: 20%;
  left: 3%;
  background-color: var(--white);
  z-index: 2;
  border-radius: var(--borderRadius);
}
.show-cartBox {
  height: 256px;
  min-height: 256px;
}
.cart-box h3 {
  font-size: 1.2rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--dark-grayish-blue);
  text-transform: capitalize;
  font-weight: var(--weight-700);
  margin-left: 0.5rem;
}
.cart-box .cart-empty {
  text-align: center;
  font-size: 1.5rem;
  font-weight: var(--weight-700);
  /* height: 0;
  overflow: hidden; */
}

.cart-info {
  margin: 1rem 2rem;
  /* border: 2px solid yellowgreen; */
  height: 50%;
}
.hide-element {
  /* height: 28px; */
  height: 0;
  overflow: hidden;
}
.info-price {
  display: flex;
  align-items: center;
  height: 50px;
  justify-content: space-between;
}
.info-price img {
  height: 100%;
  border-radius: var(--borderRadius);
}
.info-row {
  padding: 0 0.5rem;
  /* margin: 0; */
  /* ! changed margin */
  /* margin: 0.6rem 0.5rem 0 0.4rem; */
  height: auto;
  /* border: 1px solid red; */
}

.info-row p {
  /* font-size: var(--smallText); */
  font-size: 0.8rem;
  margin-top: 0.5rem;
  padding: 0.1rem 0;
  margin: 0;
  margin-bottom: 0.5rem;
  letter-spacing: var(--letterSpacing);
}
.cart-totalPrice {
  font-weight: var(--weight-700);
  font-size: 0.9rem;
}
.fa-trash {
  /* border: 1px solid Orange; */
  margin-left: auto;
  cursor: pointer;
}
.cart-checkout {
  display: block;
  margin-top: 1.5rem;
  height: 2.5rem;
  text-align: center;
  padding-top: 0.5rem;
  color: var(--white);
  background-color: var(--orange);
  border-radius: var(--borderRadius);
}
.nav-links {
  display: flex;
  flex-direction: column;
  height: 0;
  overflow: hidden;
}
.show-links {
  /* height: 100vh; */
  height: 100%;
  position: absolute;
  background-color: var(--white);
  top: 0;
  left: 0;
  width: 75vw;
  z-index: 999;
}
.close-img {
  margin-top: 1rem;
  width: 20px;
}
.nav-link {
  display: block;
  text-transform: capitalize;
  color: var(--black);
  letter-spacing: var(--letterSpacing);
  padding: 0.5rem 0;
  margin-left: 0.9rem;
  font-size: 1.1rem;
  font-weight: var(--weight-700);
  /* ! Todo: transition */
}
/* ! Todo: Media Queries */
@media screen and (min-width: 720px) {
  .navbar {
    height: 6rem;
    /* border: 8px solid rgb(0, 0, 0); */
  }
  .nav-center {
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: space-between; */
    position: relative;
    /* border: 2px solid rgb(13, 56, 2); */
    /* border-top: 1px solid var(--grayish-blue); */
    border-bottom: 1px solid var(--grayish-blue);
    height: 4rem;
  }
  .nav-header {
    height: 100%;
    /* border: 1px solid rgb(240, 9, 9); */
  }
  .menu-img,
  .close-img {
    height: 0;
    width: 0;
    overflow: hidden;
  }

  .nav-links {
    flex-direction: row;
    height: auto;
    align-items: center;
    /* width: 100%; */
    position: absolute;
    top: 20%;
    left: 25%;
    /* font-size: 0.9rem; */
    /* font-weight: 100; */
    /* color: var(--grayish-blue); */
    height: 80%;
    /* border: 1px solid orange; */
    /* border-top: 1px solid orange; */
  }
}
.nav-link {
  font-weight: var(--weight-400);
  height: 100%;
}
.nav-link:hover {
  border-bottom: 2px solid orangered;
}
/*
=============== 
Main-ShowCase
===============
*/
.hero {
  height: 80vh;
  background-image: url(./images/image-product-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  margin-bottom: 2rem;
  border-radius: var(--borderRadius);
  position: relative;
  /* border: 2px solid greenyellow; */

  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
.hero-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  /* background: rgba(0, 0, 0, 0.4); */
  display: flex;
  align-items: center;
}
.hero-icons {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 0 1.5rem;
  /* border: 2px solid rgb(41, 3, 53); */
}
.icon-container {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: var(--white);
}
.icon-container:hover {
  background-color: var(--pale-orange);
}
.icon-img {
  width: 10px;
}
.thumbnails {
  height: 0;
  overflow: hidden;
}
/* ! Todo : Media Queries */
@media screen and (min-width: 720px) {
  .main-page {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: var(--max-width);
    margin: 0 auto;
    /* border: 1px solid rgb(8, 8, 48); */
    /* position: relative; */
  }
  .showcase {
    display: grid;
    /* grid-template-rows: 1fr 50px; */
    grid-template-rows: 1fr auto;
    /* border: 1px solid rgb(110, 4, 18); */
    /* gap: 0.5rem; */
    max-width: 450px;
    /* height: auto; */
    margin-left: 1rem;
  }
  .hero {
    /* width: 500px; */
    height: 450px;
    border-radius: 10px;
    /* border: 2px solid rgb(238, 68, 77); */
    /* position: unset; */
  }
  .hero-icons {
    height: 0;
    overflow: hidden;
  }
  .thumbnails {
    height: auto;
    /* height: 95px; */
    /* border: 2px solid rgb(223, 247, 136); */
    width: 100%;
    /* padding-bottom: 2rem; */
    /* margin: 0 0.25rem 0 0.25rem; */
    margin-bottom: 2rem;
  }
  .thumb-container {
    /* display: flex; */
    /* width: 100%; */
    /* justify-content: center; */
    /* align-items: center; */
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    gap: 0.7rem;
    /* margin-bottom: 1rem; */
  }
  .thumb-img {
    width: 100%;
    height: 100%;
    /* width: 50px; */
    /* border-radius: 10px; */
    border-radius: 10px;
    /* margin-bottom: 1rem; */
  }
  .thumb-container .active {
    opacity: 0.5;
    border: 2px solid orangered;
  }
  .cart-box {
    position: fixed;
    top: 5rem;
    left: 50%;
    /* border: 2px solid blue; */
    box-shadow: rgb(0 0 0 / 54%) 0px 3px 8px;
    margin-left: 1rem;
  }
}
@media screen and (min-width: 1000px) {
  .cart-box {
    left: 62%;
  }
}
/*
=============== 
Main-Product_Info
===============
*/
.product-info {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 2rem;
}
.product-text h3 {
  color: var(--orange);
  text-transform: uppercase;
}
.product-text h1 {
  color: var(--dark-blue);
  font-weight: var(--weight-700);
}
.product-text p {
  color: var(--dark-grayish-blue);
  font-weight: var(--weight-700);
  line-height: 1.5rem;
  letter-spacing: var(--letterSpacing);
  /* border: 2px solid rgb(105, 128, 0); */
}
.product-figures {
  display: flex;
  align-items: center;
}
.product-figures .amount {
  padding-right: 1rem;
  font-size: 25px;
  font-weight: var(--weight-700);
}
.product-figures .percent {
  font-size: 1rem;
  background-color: var(--pale-orange);
  width: 2.5rem;
  border-radius: var(--borderRadius);
  text-align: center;
  color: var(--orange);
  /* padding: 0 0.5rem; */
  margin-left: 1rem;
}
.product-figures .stroke {
  margin-left: auto;
  margin-right: 1rem;
  /* padding-right: 1rem; */
  text-decoration: line-through;
  color: var(--dark-grayish-blue);
}
.stroke-lg {
  height: 0;
  overflow: hidden;
}
.product-btns {
  display: flex;
  flex-direction: column;
}
.product-btns .bars {
  display: flex;
  align-items: center;
  height: 3rem;
  /* border: 2px solid purple; */
  border-radius: var(--borderRadius);
}
.product-btns .numOfProducts {
  justify-content: space-between;
  background-color: var(--light-grayish-blue);
  padding: 0 1rem;
}
.numOfProducts span {
  font-size: 1.2rem;
  font-weight: var(--weight-700);
}
.minus-icon,
.plus-icon {
  cursor: pointer;
}
.product-btns .addCart {
  justify-content: center;
  background-color: var(--orange);
  color: var(--white);
  margin-top: 1rem;
  cursor: pointer;
}
.addCart img {
  margin-right: 0.54rem;
  filter: invert(96%) sepia(96%) saturate(15%) hue-rotate(308deg)
    brightness(105%) contrast(103%);
}
/* ! Todo : Media Queries*/
@media screen and (min-width: 720px) {
  .product-info {
    /* border: 2px solid rgb(54, 15, 70); */
    display: block;
  }
  .product-center {
    /* border: 2px solid rgb(217, 150, 243); */
    margin: 2rem auto;
  }
  .product-text h1 {
    font-size: 2rem;
  }
  .product-figures {
    display: flex;
    justify-content: safe;
    /* display: block; */
  }
  .stroke {
    visibility: hidden;
  }
  .stroke-lg {
    text-decoration: line-through;
    color: var(--dark-grayish-blue);
    font-size: 1.2rem;
    height: auto;
    margin: 0.5rem 0;
  }
  .product-btns {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    /* margin-top: 0.5rem; */
  }
  .product-btns .numOfProducts {
    margin-top: 0.9rem;
  }
}
@media screen and (min-width: 1100px) {
  .product-center {
    margin: 6rem auto;
  }
}
/*
=============== 
Footer
===============
*/
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
