*,
::after,
::before {
  box-sizing: border-box;
}

@import url('https://fonts.google.com/specimen/Kumbh+Sans');
html {
  font-size: 100%;
}

:root {
  /* orange - primary color  */
  --orange: hsl(26, 100%, 55%);
  --pale-orange: hsl(25, 100%, 87%);
  /* blue - neutral color */
  --dark-blue: hsl(220, 13%, 13%);
  --dark-grayish-blue: hsl(219, 9%, 45%);
  --grayish-blue: hsl(220, 14%, 75%);
  --light-grayish-blue: hsl(223, 64%, 98%);
  /* other colors */
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --lightbox-black: hsl(0, 0%, 75%);
  /* weight */
  --weight-400: 400;
  --weight-700: 700;

  /* fonts  */
  --headingFont: 'Kumbh Sans', sans-serif;
  --bodyFont: 'Nunito', sans-serif;
  --smallText: 0.7em;

  /* rest of the vars */
  --backgroundColor: var(--grey-50);
  --textColor: var(--dark-blue);
  --borderRadius: 0.25rem;
  --letterSpacing: 1px;
  --transition: 0.3s ease-in-out all;
  --max-width: 1120px;
  --fixed-width: 600px;
}
body {
  position: relative;
  margin: 0;
  /* height: 100vh; */
  /* background-color: green; */
}

a {
  text-decoration: none;
}
ul {
  list-style-type: none;
  padding: 0;
}

.img {
  width: 100%;
  display: block;
  object-fit: cover;
}
/*
=============== 
Navbar
===============
*/

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 2px solid var(--orange); */
}
.nav-center {
  width: 99vw;
  max-width: var(--max-width);
}
.nav-header {
  height: 6rem;
  display: flex;
  align-items: center;
  /* border: 2px solid blue; */
}
.nav-logo img {
  width: 150px;
}
.menu-img {
  margin: 0 1rem 0 0.3rem;
  width: 20px;
}
.right-logo {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.avatar-logo {
  width: 40px;
  margin: 0 1rem;
}
.nav-links {
  display: flex;
  flex-direction: column;
  height: 0;
  overflow: hidden;
}
.show-links {
  /* height: 100vh; */
  height: 100%;
  position: absolute;
  background-color: var(--white);
  top: 0;
  left: 0;
  width: 75vw;
  z-index: 999;
}
.close-img {
  margin-top: 1rem;
  width: 20px;
}
.nav-link {
  display: block;
  text-transform: capitalize;
  color: var(--black);
  letter-spacing: var(--letterSpacing);
  padding: 0.5rem 0;
  margin-left: 0.9rem;
  font-size: 1.1rem;
  font-weight: var(--weight-700);
  /* ! Todo: transition */
}
/* ! Todo: Media Queries */

/*
=============== 
Main-ShowCase
===============
*/
.hero {
  height: 80vh;
  background-image: url(./images/image-product-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  /* background: url(./images/image-product-1.jpg) center/cover no-repeat; */
  margin-bottom: 2rem;
  border-radius: var(--borderRadius);
  position: relative;
  /* border: 2px solid greenyellow; */
}
.hero-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  /* background: rgba(0, 0, 0, 0.4); */
  display: flex;
  align-items: center;
}
.hero-icons {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 0 1.5rem;
  /* border: 2px solid rgb(41, 3, 53); */
}
.icon-container {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: var(--white);
}
.icon-container:hover {
  background-color: var(--pale-orange);
}
.icon-img {
  width: 10px;
}
.thumbnails {
  height: 0;
  overflow: hidden;
}
/* ! Todo : Media Queries */
/*
=============== 
Main-Product_Info
===============
*/
.product-info {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 2rem;
}
.product-text h3 {
  color: var(--orange);
  text-transform: uppercase;
}
.product-text h1 {
  color: var(--dark-blue);
  font-weight: var(--weight-700);
}
.product-text p {
  color: var(--dark-grayish-blue);
  font-weight: var(--weight-700);
  line-height: 1.5rem;
  letter-spacing: var(--letterSpacing);
  /* border: 2px solid rgb(105, 128, 0); */
}
.product-figures {
  display: flex;
  align-items: center;
}
.product-figures .amount {
  padding-right: 1rem;
  font-size: 25px;
  font-weight: var(--weight-700);
}
.product-figures .percent {
  font-size: 1rem;
  background-color: var(--pale-orange);
  width: 2.5rem;
  border-radius: var(--borderRadius);
  text-align: center;
  color: var(--orange);
  /* padding: 0 0.5rem; */
  margin-left: 1rem;
}
.product-figures .stroke {
  margin-left: auto;
  margin-right: 1rem;
  /* padding-right: 1rem; */
  text-decoration: line-through;
  color: var(--dark-grayish-blue);
}

.product-btns {
  display: flex;
  flex-direction: column;
}
.product-btns .bars {
  display: flex;
  align-items: center;
  height: 3rem;
  /* border: 2px solid purple; */
  border-radius: var(--borderRadius);
}
.product-btns .numOfProducts {
  justify-content: space-between;
  background-color: var(--light-grayish-blue);
  padding: 0 1rem;
}
.numOfProducts span {
  font-size: 1.2rem;
  font-weight: var(--weight-700);
}
.product-btns .addCart {
  justify-content: center;
  background-color: var(--orange);
  color: var(--white);
  margin-top: 1rem;
}
.addCart img {
  margin-right: 0.54rem;
  /* color: var(--white); */
  /* background-color: var(--white); */
  /* opacity: 0.7; */
  /* fill: var(--white); */
  filter: invert(96%) sepia(96%) saturate(15%) hue-rotate(308deg)
    brightness(105%) contrast(103%);
}
/* ! Todo : Media Queries*/
/*
=============== 
Footer
===============
*/
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
